.filter{
  background-color: rgba(0,0,0,0.7);
  padding-top: 35vh;
  padding-bottom: 65vh;
}

header{
  height: 100vh;
  background-image: url('../images/background.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position:top;
  background-repeat: no-repeat;
  min-height: 25vw;
  width: 100%;
}

#titre_header{
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

#titre_header > h1{
  font-weight: bold;
  color: white;
  font-family: 'Ma Shan Zheng', cursive;
  font-size: 80px;
  transition: 1s;
}

#titre_header > h1:hover{
  transform: scale(1.3);
}
