.banner{
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 75%;
}

.block{
  min-width: 400px;
  color: #fff;
  margin: 50px 0px 100px 0px;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #fff;
  height: 10%;
  background-color: rgba(20,0,0,0.7);
  }

.first_block{
    padding: 50px;
}

.second_block{
    padding: 50px 0px 50px 0px;
}

.type_banner{
  background-color: rgba(20,0,0,0.5);
}

.filter_{
  border-top: 1px solid rgba(255,255,255,0.5);
  background-color: rgba(0,0,0,0.8);
}

.container{
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 7vw;
}
