.banner_title{
  font-size: 30px;
}

.description{
  min-width: 400px;
  padding-top: 50px;
  color: #fff;
  margin-top: 50px;
  text-align: center;
  border-radius: 10px;
  padding: 50px;
  height: 10%;
  background-color: rgba(0,0,0,0.5);
  }

.image_intro{
  webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  padding: 30px;
}

.image_intro:hover{
  opacity: 0.7;
  webkit-transform: rotate(-15deg);
  transform: rotate(-15deg);
}

#more{
  display: none;
}

#myBtn{
  color: rgba(255,255,255,0.7);
  padding: 5px 15px 5px 15px;
  margin-top: 15px;
  background-color: #000;
  border-radius: 5px;
  border: solid 1px #fff;
  transition: 0.5s;
}

#myBtn:hover{
  cursor: pointer;
  color: rgba(255,255,255,1);
  transition: 0.5s;
}
